body {
    margin: 0px;
    padding: 0px;

    font-family: 'Hubballi', cursive;
    background-color: #523906;

    background-image: url("../assets/terra.jpg");
    background-size: cover;
    background-repeat: repeat;

    display: flex;
    flex-flow: column wrap;

}
p, h4, h3, h1, h2 {
    margin: 0;
}

button {
    font-family: 'Hubballi', cursive;
    background-color: #62760C;
    border-radius: 20px;
    padding: 10px;

    color: white;
}

button:hover {
    background-color: #25f830;
    color: black;
}

header {

    position: fixed;
    z-index: 1;

    width: 100%;
    background-color: transparent;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

footer {
    position: relative;
    bottom: -100px;
    transform: translateY(-100%);

    background-image: linear-gradient(0deg, white, rgba(255, 255, 255, 0.3));


    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;



}


main {
    top: 100px;


    display: flex;
    justify-content: center;


    position: relative;
}



ul {
    list-style-type: none;
}

form {

    width: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    

    padding: 30px;
    border-radius: 20px;
    margin: 30px;




}
label {
    display: flex;
    flex-flow: column wrap;
    line-height: 30px;

    margin: 15px;
}

input, textarea {
    margin: 0;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-family:'Hubballi', cursive;

}
input:focus, textarea:focus {
    outline: none;
}


 
  /* The actual popup */
  .popuptext {

    font-size: 15px;
    font-family: 'Hubballi', cursive;


    visibility: hidden;
    background-color: #555;
    min-height: 30px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;


    width: fit-content;
    max-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 2;
    position: absolute;
    top: 65%;
    left: 100%;
    transform: translateY(-50%);

}
  
  /* Popup arrow */
  .popuptext::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

    z-index: 2;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }



/* Página index */

.titulo img {
    height: 50px;
    width: auto;
    margin: 10px;
}

.label_form {
    position: relative;
    display: flex;
    flex-flow: column wrap;
}


.forms {

    position: fixed;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 10px;
    margin-right: 10px;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    

    background-color: rgba(8, 14, 105, 0.7);
    width: 420px;
    border-radius: 20px;
    padding: 20px;


    color: white;
    font-size: 25px;
}


.forms button {
    font-size: 25px;
}

.forms p {
    font-size: 30px;
    align-self: center;
    font-weight: bold;
}

.forms input {
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0px;
    width: 260px;
    height: 25px;
    font-size: 25px;
}
.forms label {
    margin-left: 0px;
}
.forms button {
    width: 300px;
    margin: 0px 0px;
}

.numero_complemento {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    
}
.input_complemento {
    width: 100%;
}
.input_numero {
    width:30%;
}



.anunciar {
    order:-1;
}

.navbar {

    background-color: #FBB836;

    height: 100px;

    width: 100%;

    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-evenly;

    color: #0C31B5;

    

}

.navbar h1 {
    font-size: 35px;
}

.navbar h2 {
    font-size: 30px;
}
.navbar a {
    text-decoration: none;
}
.navbar a:hover {
    color: white;
}
.navbar a:visited:not(:hover) {
    color: #0C31B5;
}
.navbar a:not(:visited):not(:hover) {
    color: #0C31B5;
}
.anunciar {
    align-self: center;
}
.titulo {
    align-self: center;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;

}
.civitas_marketplace {

    align-self: flex-end;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.conta {

    display: flex;
    flex-flow: row wrap;
}
.conta p {
    align-self: center;
    font-size: 20px;
}
.conta button {
    margin: 20px;
    align-self: center;

    font-size: 30px;


}




.caixa_item {

    width: 300px;

    display: flexbox;
    flex-flow: column wrap;



    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    background-color: aquamarine;
    
    


}

.caixa_servico_produto {
    width: 100%;

    display: flex;
    flex-flow: row wrap;

    align-content: space-evenly;

}


.argumentos img {

    width: auto;
    height: 250px;
}
.caixa_img img {
    margin: 0px;
}
.caixa_img {
    line-height: 0;
}
.argumentos {

    
    margin-top: 30px;
    color: white;
    height: 100%;
    width: 50%;
    margin-right: 600px;
}



.argumentos p {
    font-size: 25px;
    margin-bottom: 10px;
}
.argumentos h4 {
    margin-left: 0;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 0px;
}

.argumentos li {
    margin-bottom: 150px;
}

.argumentos_texto {
    background-color: rgba(82, 57, 6, 1);

    width: 500px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    padding-left: 20px;
    border-radius: 20px;
}


.a_esquerda{

    

    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}



.a_direita{

    display:flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    
}



/* Páginas Serviços/Produtos */

.buscar {
    width: fit-content;
}
.buscar label {
    width: fit-content;

}
.buscar input {
    width: 300px;
    font-size: 25px;
}
.buscar img {
    width: 10px;
    height: auto;
}
.buscar input[type=search]:not(:focus)::placeholder{
    background: transparent url("../assets/search_icon.png") no-repeat 3px 5px;
    background-size: 15px;
    color: #bbb;
    padding-left: 25px;
}
.caixa_exemplos {
   
    margin-right: 600px;
    width: 100%;

    color: white;
    font-size: 25px;

}

.caixa_exemplos ul {
    display: flex;
    flex-flow: column wrap;

}

.caixa_exemplos li.a_direita {
    align-self: flex-end;
}

.caixa_exemplos li.a_esquerda {
    align-self: flex-start;
}

.caixa_exemplos li {
    width: 600px;
    background-color:  rgba(82, 57, 6, 1);
    border-radius: 30px;
    padding: 30px;
    color: white;

    margin: 50px;
}


.caixa_exemplos img {
    width: 350px; 
    height: auto;
}


.caixa_exemplos p, h4 {
    margin: 30px;
}


/* Página Entrar */

.main_entrar .forms {

    left: 50%;
    transform: translate(-50%, -50%);

}

.main_entrar label[for="senha"] {
    margin-bottom: 0px;
}

.main_entrar p {
    font-size: 20px;

}

.main_entrar a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 30px;

}
.main_entrar a:hover {
    color: #25f830;

}


/* Página Cadastrar */

.main_cadastrar .forms {

    position: relative;
    width: fit-content;
    top: -50px;
    padding: 30px;
    transform:translate(0%, 0%);


    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: row wrap;

    background-color: transparent;

}

.numero_complemento #complemento {
    width: 155px;
}
.numero_complemento #numero {
    width: 50px;
}


.main_cadastrar form label{
    margin-bottom: 0;
}
.main_cadastrar form {
    background-color: rgba(8, 14, 105, 0.7);

    margin: 50px;
}

.main_cadastrar .pessoa_fisica, .pessoa_juridica {
    opacity: 0;
    position: absolute;
} 

.main_cadastrar label[for="fisica"], label[for="juridica"]{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

}

 
/* Página perfil */

.main_perfil {
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: white;
    line-height: 40px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.main_perfil h1 {
    background-color: #523906;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;

}

.mostrar_informacoes {
    
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;


}


.mostrar_informacoes h2 {
    text-align: center;

}
.mostrar_informacoes tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.mostrar_informacoes th {
    margin-right : 50px;
}
.mostrar_informacoes td {
    width: fit-content;
}

.mostrar_informacoes li {
    margin: 30px;
    background-color: #0C31B5;
    padding: 20px;
    border-radius: 10px;
}
.mostrar_informacoes section {
    background-color: #523906;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;

}

.lista_produtos, .lista_servicos {
    min-width: 300px;
}
.lista_produtos p, .lista_servicos p {
    margin: 30px;
}

.lista_produtos h2, .lista_servicos h2 {
    margin-top: 50px;
    margin-bottom: 0;
}

.lista_produtos ul, .lista_servicos ul{
    padding: 0;
}

.informacoes {
    padding: 50px;
}
.informacoes h2 {
    margin-bottom: 30px;
}
.informacoes a {
    color: white;
}
.informacoes a:visited {
    color: white;
}
.informacoes a:hover {
    color: gray;
}

.informacoes img {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 30px;
}



/* Página anunciar */

.main_anunciar {

    top:110px;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: fit-content;
    height: fit-content;
    align-self: center;
    font-size: 25px;
    color: white;

}
.main_anunciar form {


    
    padding: 50px 50px 50px 30px;
    background-color: rgba(8, 14, 105, 0.7);
    margin-bottom: 100px;
}

.main_anunciar button {
    font-size: 25px;
}
.main_anunciar div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
.main_anunciar input {
    font-size: 25px;
}
.main_anunciar textarea {
    font-size: 25px;
}

.main_anunciar .preco {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;

   margin-bottom: -20%;
}


.main_anunciar .moeda {
    width: 10%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.main_anunciar .preco #preco {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 76%;
}
.main_anunciar p {
    align-self: center;
}


  input[type="radio"] {

    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);

    background-color: #25f830;

  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }


/* Página servicos/produtos */
.main_produtos_servicos .caixa_exemplos {
    background-color: #523906;
    border-radius: 20px;
    font-family: 'Hubballi', cursive;
    margin-top: 80px;
    width: fit-content;
    display: flex;
    justify-content: center;

    line-height: 30px;
    justify-content: center;
}

.main_produtos_servicos .caixa_exemplos p {
    margin-left: 0;
}


.main_produtos_servicos .caixa_exemplos li {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.main_produtos_servicos .caixa_exemplos .a_esquerda {
    justify-content: flex-start;

}

.main_produtos_servicos .caixa_exemplos .a_direita {
    justify-content: flex-end;

}

.main_produtos_servicos .caixa_exemplos table {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;

    background-color: #0C31B5;
    border-radius: 20px;
    padding: 30px;
}

.main_produtos_servicos .caixa_exemplos tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.main_produtos_servicos .caixa_exemplos th {
    margin-right : 50px;
}
.main_produtos_servicos .caixa_exemplos td {
    width: fit-content;
}

